aside {
  width: 261px; 
  transition: width 0.2s ease-in-out;
  height: calc(100vh - 81px);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 81px;
  justify-content: space-between;
  padding-block: 32px;
}

.side-bar-menu {
  h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: rgba(130, 143, 163, 1);
    padding-inline: 24px;
    margin-bottom: 20px;
  }

  .header-createNew {
    color: rgba(99, 95, 199, 1);
    padding: 14px 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    transition: background-color 0.2s ease;
    width: 90%;
    border: none;
    background-color: transparent;
  }
}

.side-bar-hidden-container{
  padding-left: 24px;
}

.side-bar-hidden {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: none;

  p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: rgba(130, 143, 163, 1);
  }
}

.hidden-button {
  position: absolute;
  z-index: 1000;
  bottom: 32px;
}

.show-sidebar {
  width: 56px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgba(99, 95, 199, 1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-hidden aside {
  width: 0;
  overflow: hidden;
}

.sidebar-down {
  display: grid;
  gap: 16px;
}